<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vehicle Data | Parking Management System</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    .left {
      background-color: #343a40;
      color: white;
      padding: 20px;
      text-align: center;
    }
    .right {
      background-color: #343a40;
      color: white;
      padding: 20px;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 left">
        <h1>Vehicle Data</h1>
      </div>
      <div class="col-md-6 right">
        <!-- Right part of the heading here -->
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Vehicle ID</th>
          <th>Make</th>
          <th>Model</th>
          <th>Color</th>
          <th>License Plate</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Ford</td>
          <td>Mustang</td>
          <td>Red</td>
          <td>ABC123</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Toyota</td>
          <td>Camry</td>
          <td>Blue</td>
          <td>DEF456</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Chevrolet</td>
          <td>Corvette</td>
          <td>Yellow</td>
          <td>GHI789</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
